<div class="banner" style="background-image:url(../<%= project.images[1] %>)"></div>
<div class="project-content">
  <h2>
    <%= project.name %>
  </h2>
  <p>
    <%= project.description %>
  </p>
  <div class="optional-info">
    <% unless project.partners.nil? %>
    <h3>
      Partners
    </h3>
    <ul>
      <% project.partners.each do |partner| %>
      <li>
        <%= partner[1] %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <% unless project.links.nil? %>
      <h3>
        Related links
      </h3>
      <% project.links.each do |link| %>
        <% link_to link[1], target: "_blank" do %>
          <div class="button-link btn btn-primary">
            <%= link[0] %>
          </div>
    <!-- <div class="underline-left-to-right"></div> -->
        <% end %>
      <% end %>
    <% end %>
    <% unless project.video_url.nil? %>
    <div class="video-project">
      <iframe width="560" height="315" src="<%= project.video_url %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </div>
  </div>
  <div class="carousel">
    <%= partial "carousel", locals: { project: project } %>
  </div>
</div>

<div class="nav-back">
  <% link_to "/" do %>
  <i class="fa fa-angle-double-left"></i>
  <% end %>
</div>
